/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/SecondClass/nbproject/private/
/UserScanner/nbproject/private/
/UserScanner/build/
/SecondClass/build/
/OddEvenTest/nbproject/private/
/OddEvenTest/build/
/LeapYearTest/nbproject/private/
/LeapYearTest/build/
/ConvertMinute/nbproject/private/
/ConvertMinute/build/
/AreaCircle/nbproject/private/
/AreaCircle/build/
/CurrentTime/nbproject/private/
/AverageFind/nbproject/private/
/AverageFind/build/
/java/PracticeJava/nbproject/private/
/java/PracticeJava/build/
/java/PracticeHome/nbproject/private/
/java/PracticeHome/build/
/PracticeHome/nbproject/private/
/PracticeHome/build/
/CurrentTime/build/
